<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding new Post</title>
</head>
<body>
    <form method= "post" action="/posts">
        <input type="text" name="username" placeholder="Enter username"><br>
        <textarea name="College" placeholder="Write your Post" id="" cols="30" rows="10"></textarea><br>
        <button>Submit Post</button>
    </form>
    
</body>
</html>