<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details shown</title>
</head>
<body>
    <h1>Here is the details of your post</h1>
    <p>Post id : <%= post.id %></p>
    <h1>Post username : <%= post.username %></h1>
    <h3>Post College : <%= post.College %></h3>
</body>
</html>